
.head {
    margin: 0;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 10px;
  }

h1 {
    color: white;
    margin-left: 5%;
  }

h2{
    margin-left: 5%;
    color: white;
  }

p{
    color: white;
    margin: 0 5rem 1rem 5rem; /* Adjust the bottom margin as needed */
    
}
#whatWeDo {
    height: 140vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.head {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headText {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 89%;
    color: var(--secondarytext);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.WeDoCards {
    height: 98%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards{
    width: 90%;
    height: 47%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
    place-self: center;
    place-items: center;
    margin-top: 26rem;
}

.cards>div{
    height: 80%;
    width: 86%;
    border-bottom: 2px solid var(--bordercolor);
    background-color: var(--cardcolor);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    overflow: hidden;
    transition: all 0.3s ;
    margin: 0; 
}
.cards>div:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px rgba(6, 255, 255, 1));
}
.card > .icon{
    height: 37%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card > .name{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    color: var(--secondarytext);

}
.card > .description{
    padding: 2%;
    height: 50%;
    width: 80%;
    border-top: 1px solid #748c96;
    display: flex;
    justify-content: center;
    color: var(--tertiarytext);

}
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
  }

.img1 ,
.img2 ,
.img3 {
    margin-top: 10rem;
    height: 350%;
    width: 150%;
}
