.aboutCont{
    background-color: #212020;
    height: 20%;
    width: 90%;
    margin:2rem 0 6rem 4rem ;
    border-radius: 1rem;
    border: 8px solid #333;
    border-bottom: 5px;
    border-right: 5px;
}

.head {
    margin: 0;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 10px;
  }

h3 {
    color: white;
    margin: 2rem 0 1rem 7%;
  }

h2{
    font-size: xx-large;
    margin-left: 5%;
    color: white;
  }

p{
    color: white;
    margin: 0 5rem 1rem 5rem; /* Adjust the bottom margin as needed */
    
}

li{
    margin: 0.5rem 0 0.5rem 3rem;
}

.infoPara{
    margin-top: 3rem;
}

.strong{
    margin-top: 3rem;
}

.cardContainer{
    display: flex;
    gap: 6rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.cont1,
.cont2,
.cont3 {
    height: 26rem;
    background-color: var(--cardcolor);
    border-radius: 1rem;
}

.cont1:hover,
.cont2:hover,
.cont3:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgb(103, 198, 205); /* Example shadow on hover */
}


.h3{
    margin-left: 6.5rem ;
    font-size: x-large;
}


.img1,
.img2,
.img3{
    margin: 2rem 0 0 4rem;
    height: 16rem;
    width: 13.5rem;
}

footer {
    text-align: center;
    background-color: #333;
    padding: 1px;
}

