.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapContainer{
    height: 50%;
    width: 70%;
    margin: 15rem 0 1rem 14rem;
}