.img1,
.img2,
.img3{
    position: absolute;
    z-index: 1;
}

.dog_img{
    height: 100px;
    width: 100px;
    margin-left: 52rem;
    margin-top: 18rem;
    /* animation: outerCircleAnimation 12s linear infinite; */
}

.cat_img{
    height: 118px;
    width: 104px;
    margin-left: 52rem;
    margin-top: 18rem;
    /* animation: outerCircleAnimation 12s linear infinite; */
}

.rabbit_img{
    height: 90px;
    width: 70px;
}

.cat_img{
    height: 20px;
    width: 20px;
}

.rabbit_img{
    height: 20px;
    width: 20px;
}

/* Circleprop.module.css */

.img1 img.dog_img{
  height: 100px;
  width: 100px;
}


.img2 img.cat_img {
    height: 100px;
    width: 100px;
    margin-top: 32em;
    margin-left: 81em;
    transform: rotate(7deg);
}

.img3 img.rabbit_img {
    height: 100px;
    width: 100px;
    margin-top: 5.5rem;
    margin-left: 81em;
}


