:root {
    --bgcolor: black;
    --circle-diameter: 76vh;
}

.img1,
.img2,
.img3{
    position: absolute;
    z-index: 1;
}


.img1 img.dog_img {
    height: 100px;
    width: 100px;
    margin-top: 13rem;
    margin-left: 55rem;
}

.img2 img.cat_img {
    height: 100px;
    width: 100px;
    margin-top: 13rem;
    margin-left: 55rem; /* Adjusted margin-left value */
}

.img3 img.rabbit_img {
    height: 100px;
    width: 100px;
    margin-top: 13rem;
    margin-left: 55rem; /* Adjusted margin-left value */
}


.dog_img{
    position: absolute;
    z-index: 1;
    animation: rotateAroundCircle 12s linear infinite 0s;
}

.cat_img{
    animation: rotateAroundCircle 12s linear infinite 4s;
}

.rabbit_img {
    position: absolute;
    z-index: 1;
    animation: rotateAroundCircle 12s linear infinite 8s;
}

@keyframes rotateAroundCircle {
    from {
        transform: rotate(0deg) translate(calc(var(--circle-diameter)/2)) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(calc(var(--circle-diameter)/2)) rotate(-360deg);
    }
}
