:root {
    --bgcolor: black;
}

.cont{
    display: flex;
    float: right;
}

.Rightdiv {
    height: 80vh;
    width: 85vh;
    float: right;
    margin: 0 0 0 4rem;
}

.outerCircle {
    border: 2px solid white;
    border-radius: 50%; 
    height: 76vh; /* Set the same height as the container */
    width: 76vh; /* Set the same width as the container */
    background-color: cyan; 
    animation: outerCircleAnimation 12s linear infinite;
}

.innerCircle {
    border: 2px solid cyan;
    background-color: var(--bgcolor);
    border-radius: 50%;
    margin: 0.15rem; 
    height: 74.5vh; /* Adjusted height to keep space for borders */
    width: 74.5vh; /* Adjusted width to keep space for borders */
    animation: innerCircleAnimation 12s linear infinite;
}

.dog{
    float: right;
    margin-left: 64rem; 
    z-index: 1;
    position: absolute;
    height: 33rem;
}



@keyframes outerCircleAnimation {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes innerCircleAnimation  {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

