:root {
    --bgcolor: black;
}

.Rightdiv {
    height: 80vh;
    width: 85vh;
    float: right;
    margin: 2rem 2rem 0 2rem;
    /* border: 2px solid red; */
}

.outerCircle {
    border: 2px solid white;
    border-radius: 50%; 
    height: 100%; 
    width: 100%;
    background-color: cyan; 
    animation: rotate 15s linear infinite;
}

.innerCircle {
    border: 2px solid cyan;
    background-color: var(--bgcolor); /* Set the background color */
    border-radius: 50%; 
    margin: 0.6rem;
    height: 97%; 
    width: 97%; 
    animation: rotate 15s linear infinite;
}


.innerCircle img {
    height: 73%;
    width: 50%;
    margin-top: 4rem;
    margin-left: 10rem;
}

.dog{
    height: 73%;
    width: 20%;
    margin-top: 5rem;
    margin-left: 100vh;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes stopRotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}